@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our General Store opened its doors in 1988. Since then we've been the standard 
    in providers of access to home-produced items, and especially foods.</p>


