@model IEnumerable<GeneralStore.MVC.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
    <br />
    Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.
    <br />
    Come browse our products and see what we have for you.
</p>


